
/* Klasser för menyn. Fonter, färger, storlekar och placeringar. */
.menu {
    text-align: center;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
.menu p a {
    color: red;
    font-size: 24px;
}
.menu h1 {
    text-decoration: none;
    color: green;
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 4px;
    font-size: 56px;
}